* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection {
    background: rgba(0,230,184,.2);;
}
body {
    font-family: LabGrotesque,Helvetica Neue,Helvetica,Arial,sans-serif; 
}
.navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    flex-grow: 1;
    font-size: 18px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.navbar > ul {
    display: flex;
}
.navbar > ul > li {
    list-style-type: none;
    margin: 0px 25px;
}
.navbar > ul > li a {
    text-decoration: none;
    font-weight: 600;
    color: #767676;
    font-family: LabGrotesque,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.navbar > ul > li > a > .tour {
    color: black;
}
.nav-a:hover {
    transition: 0.5s;
    display: block;
    transform: scale(1.05);
    color: black;
}
.navbar > div > .Download-btn {
    margin-right: 80px;
    width: 129px;
    height: 48px;
    background-color: #04ddb2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    cursor: pointer;
    border: #04ddb2;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    transition: 0.2s ease-in-out;
}   
.Download-btn:hover {
    transform: scale(1.05);
}
.middle-cont {
    margin-top: 150px;
    text-align: center;
}
.middle-heading {
    font-size: 60px;
    color: #333;
    font-weight: 800;
}
.middle-heading > span {
    color: #04ddb2;
}
.middle-cont > div > p {
    color: #333;
    font-family: LabGrotesque,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: 10px;
    font-size: 25px;
    line-height: 1.45;
    margin-bottom: 40px;
}
.section-img {
    height: 540.48px;
    width: 960px;
    border-radius: 25px;
    transition: 0.4s ease-out;
    margin-bottom: 100px;
}
.section-img:hover {
    transform: scale(1.01);
    box-shadow: 5px 5px 40px 10px #d0d0d0;
}
.middle-cont-2 {
    text-align: center;
    margin-bottom: 80px;
}
.app > h1 {
    font-family: LabGrotesque,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 64px;
    font-weight: 800;
    line-height: 1.05;
    color: #333;
}
.app {
    margin-bottom: 48px;
}
.down-btn {
    width: 160px;
    height: 50px;
    background-color: #04ddb2;
    border-radius: 24px;
    cursor: pointer;
    border: #04ddb2;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    transition: 0.2s ease-in-out;
}   
.down-btn:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 5px  #d0d0d0;
}

footer {
    display: flex;
    justify-content: space-between;
    height: 404px;
    padding: 0px 80px 60px 80px;
    margin: 0px 200px;
    align-items: center;
    font-family: LabGrotesque,Helvetica Neue,Helvetica,Arial,sans-serif;
    
}
.footer-content-1 a svg{
    margin-bottom: 29.2px;
    margin-left: 0;
}
.footer-content-1 p , .footer-content-2 p , .footer-content-3 p , .footer-content-4 p {
    margin-bottom: 24px;
}
.footer-content-2 h4 , .footer-content-3 h4 , .footer-content-4 h4 {
    margin: 31.2px 0px;
}
footer a , footer h4 {
    text-decoration: none;
    color: #333;
}
.footer-content-5 {
    display: flex;
    width: 100px;
    justify-content: space-between;
    height: 200px;
    align-items: start;
    margin-left: 0;
}
.footer-content-5 a {
    margin: 0px 10px;
}
hr {
    margin: 0px 200px;
}
footer a:hover {
    transition: 0.5s;
    display: block;
    transform: scale(1.05);
}
.footer-content-5 a:hover {
    transform: scale(1.2);
}
.footer-content-6 {
    display: none;
}
@media (max-width: 414px) {
    .foot-parent {
        display: block;
    }
    footer {
        display: grid;
        margin: 0;
        grid-template-columns: repeat(2,1fr);
        column-gap: 5px;
        text-align: center;
        padding: 0px;
    }
    hr {
        margin: 0 20px;
        margin-bottom: 20px;
    }
    .footer-content-5 {
        flex-direction: column;
        margin-left: 40px;
        margin-top: 25px;
        height: 100px;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .footer-content-2 h4 , .footer-content-3 h4 , .footer-content-4 h4 {
        margin: 20.2px 0px;
    }
    .footer-content-1 p , .footer-content-2 p , .footer-content-3 p , .footer-content-4 p {
        margin-bottom: 15px;
    }
    .footer-content-1 {
        display: none;
    }
    .footer-content-6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5px;
        text-align: center;
        margin: 60px 0px;

    }
    .footer-content-6 p {
        margin-bottom: 24px;
    }
    .footer-content-6 a svg {
        margin-bottom: 20px;
        
    }
}
@media (max-width: 414px) {
    .app > h1 {
        font-size: 40px;
    }
    .section-img {
        width: 337.8px;
        height: 188.26px;
        margin-bottom: 50px;
    }
    .middle-heading {
        font-size: 40px;
    }
    .middle-cont div p {
        font-size: 18px;
        padding: 15px;
    }
    .middle-cont div p br {
        display: none;
    }
    .navbar ul {
        display: none;
    }
    .navbar > div > .Download-btn {
        margin-right: 20px;
        width: 100px;
        height: 40px;
        font-size: 14px;
    }
    .logo a svg{
        width: 150px;
        height: 23px;
    }
}